<!--MODAL FOR NEW SCRAPE-->
<div class="container">
  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Scraping Articles...</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL FOR DELETE CONFIRMATION-->
<div class="container">
  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Scraping Articles...</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><h1>Mongo Scraper</h1></a>
  <div>
    <a href="/"><button class="btn btn-primary" type="button" name="button">Home</button></a>
    <a href="/scrape"><button id="scrape-btn" class="btn btn-info" type="button" name="button" data-toggle="modal" data-target="#modal">Scrap New Articles</button></a>
    <a href="/delete"><button class="btn btn-danger" type="button" name="button">Delete Articles</button></a>
  </div>
</nav>

<!--JUMBOTRON-->
<div class="jumbotron text-center">
  <h1>Mongo Scraper</h1>
  <h5>New York Times NBA Edition</h5>
</div>

<!--MAIN CONTENT-->
<div id="articles" class="text-center">
  <div class="row container-fluid">
    {{#each data}}
      <div class="container article-div">
        <a href= {{this.link}} target="_blank"><img class="article-image" src={{this.image}} alt="article-image"></a>
        <div>
          <h3>{{this.title}}</h3>
          <h5>{{this.summary}}</h5>
        </div>
      </div>
    {{/each}}
  </div>
</div>
