<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><h1>Mongo Scraper</h1></a>
  <div>
  <a href="/"><button class="btn btn-primary" type="button" name="button">Home</button></a>
  <a href="/all"><button class="btn btn-success" type="button" name="button">Saved Articles</button></a>
  <a href="/scrape"><button class="btn btn-danger" type="button" name="button">Scrap New Articles</button></a>
</div>
</nav>

<div class="jumbotron text-center">
  <h1>Mongo Scraper</h1>
  <h5>New York Times Edition</h5>
</div>

<div id="articles">
  {{#each scrapedData}}
    <p>{{title}}</p>
    <p>{{summary}}</p>
  {{/each}}
</div>
