* {
  font-family: 'Lobster', cursive;
}

body {
  padding-top: 4.8rem;
}

#header {
  background-color: #353b40;
  color: white;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.jumbotron {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background-image: url("/image/background.jpg");
  min-height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-div {
  border: 2px #353b40 solid;
  margin-bottom: 30px;
}
